@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 209, 213, 219;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 209, 213, 219;       /* Purple foreground color */
    --background-rgb: 209, 213, 219; /* Purple background start color */
  }
}

@import '~@fortawesome/fontawesome-free/css/all.min.css';


.bg-background {
  @apply bg-[#1f2937];
  
}

body {
  @apply bg-[#1f2937];
  color: rgb(var(--foreground-rgb));
}

.intensity-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intensity-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 10px;
}

.intensity-option:hover {
  transform: scale(1.1);
  background-color: #f0f0f0;
}

.intensity-option.selected {
  transform: scale(1.2);
  background-color: #ff6b6b;
  color: white;
}

.intensity-option .label {
  margin-top: 5px;
  font-size: 14px;
}


.outline-container {
  border: 4px solid ; /* Increase border thickness */
  padding: 10px; /* Add padding to maintain space between content and the border */
}
/* globals.css */

.before-hover-animation {
  position: relative;
  overflow: hidden;
}

.before-hover-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, transparent, #3498db); /* Gradient background */
  z-index: 1;
  opacity: 0;
  transition: width 0.5s ease, opacity 0.5s ease; /* Transition properties */
}

.before-hover-animation:hover::before {
  width: 100%; /* Make the gradient fill the width on hover */
  opacity: 1; /* Make the gradient visible on hover */
}


/* Add this to your CSS file or a <style> block */

.react-date-picker__wrapper {
  border: 1px solid #e2e8f0; /* Tailwind's border-gray-300 */
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.react-date-picker__calendar {
  border-radius: 0.375rem; /* Tailwind's rounded-md */
}

.react-date-picker__calendar-button {
  background-color: #f3f4f6; /* Tailwind's bg-gray-50 */
}

.react-date-picker__calendar-month {
  background-color: #f1f5f9; /* Tailwind's bg-gray-100 */
  color: #4b5563; /* Tailwind's text-gray-800 */
}

.react-date-picker__calendar-day--selected {
  background-color: #3b82f6; /* Tailwind's bg-blue-500 */
  color: white;
}
